<template>
  <header class="layout-header bg-primary" :class="params.className">
    <section class="container mx-auto flex items-center justify-between h-full">
      <a href="https://todomvc.com" target="_blank" rel="noreferrer">
        <img src="/logo.svg" alt="logo" style="height: 40px;" />
      </a>

      <div>
        <router-link class="router-link" to="/">
          Home
        </router-link>
        |
        <router-link to="/todos" class="router-link">
          Todos
        </router-link>
      </div>
    </section>
  </header>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

export type LayoutHeaderProps = {
  className?: string
}

export default defineComponent({
  name: 'LayoutHeader',
  props: {
    params: {
      type: Object as PropType<LayoutHeaderProps>,
      required: true
    }
  }
})
</script>

<style lang="postcss">
.layout-header {
  height: var(--header-height);

  .router-link:hover {
    color: aliceblue;
  }
}
</style>
