<template>
  <footer
    class="layout-footer bg-primary flex flex-col items-center justify-center"
    :class="params.className"
  >
    <p>Double-click to edit a todo</p>

    <p class="my-1">
      Written by
      <a
        class="underline"
        href="https://gitlab.com/fResult/just-vuets-todo"
        target="_blank"
        rel="noreferrer"
      >
        fResult
      </a>
    </p>

    <p>
      Part of
      <a
        class="underline"
        href="https://todomvc.com/"
        target="_blank"
        rel="noreferrer"
      >
        TodoMVC
      </a>
      (use VueJS v3 + Typescript)
    </p>
  </footer>
</template>

<script lang="ts">
import { ref, defineComponent, PropType } from 'vue'

export type LayoutFooterProps = {
  className?: string
}

export default defineComponent({
  name: 'LayoutFooter',
  props: {
    params: {
      type: Object as PropType<LayoutFooterProps>,
      required: true
    }
  },
  setup: () => {
    const count = ref(0)
    return { count }
  }
})
</script>

<style lang="postcss" scoped>
.layout-footer {
  height: var(--footer-height);

  p {
    line-height: 1;
    font-size: 10px;
    color: #bfbfbf;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  }
}
</style>
