<template>
  <section class="layout-content bg-secondary" :class="params.className">
    <slot />
  </section>
</template>

<script lang="ts">
import { ref, defineComponent, PropType } from 'vue'

export type LayoutContentProps = {
  className?: string
}

export default defineComponent({
  name: 'LayoutContent',
  props: {
    params: {
      type: Object as PropType<LayoutContentProps>,
      required: true
    }
  },
  setup: () => {
    const count = ref(0)
    return { count }
  }
})
</script>

<style lang="postcss">
.layout-content {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
</style>
