<template>
  <LayoutHeader :params="layoutHeaderProps" />
  <LayoutContent :params="layoutContentProps">
    <h1>Home Page</h1>
    <router-link to="/todos">Go to Todos Page</router-link>
  </LayoutContent>
</template>

<script lang="ts">
import LayoutHeader, {
  LayoutHeaderProps
} from '../components/Layout/LayoutHeader.vue'
import LayoutContent, {
  LayoutContentProps
} from '../components/Layout/LayoutContent.vue'
import LayoutFooter from '../components/Layout/LayoutFooter.vue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageHome',
  components: { LayoutHeader, LayoutContent, LayoutFooter },
  props: {
    className: {
      required: false,
      type: String
    }
  },
  computed: {
    layoutHeaderProps(): LayoutHeaderProps {
      return {
        className: ''
      }
    },
    layoutContentProps(): LayoutContentProps {
      return {
        className: 'content-home'
      }
    }
  }
})
</script>

<style lang="postcss" scoped>
.layout-content.content-home {
  min-height: calc(100vh - var(--header-height));
}
</style>
