<template>
  <LayoutHeader :params="layoutHeaderProps" />
  <LayoutContent :params="layoutContentProps">
    <h1>404 - Page Not Found</h1>
    <p>This page no longer exists or was moved to another location.</p>
  </LayoutContent>
</template>

<script lang="ts">
import LayoutHeader, {
  LayoutHeaderProps
} from '../components/Layout/LayoutHeader.vue'
import LayoutContent, {
  LayoutContentProps
} from '../components/Layout/LayoutContent.vue'
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PageNotFound',
  components: { LayoutContent, LayoutHeader, Content: LayoutContent },
  computed: {
    layoutHeaderProps(): LayoutHeaderProps {
      return {}
    },
    layoutContentProps(): LayoutContentProps {
      return {}
    }
  }
})
</script>
