<template>
  <LayoutHeader :params="layoutHeaderProps" />
  <LayoutContent :params="layoutContentProps">
    <section class="todo-app container m-auto">
      <header>
        <h1 class="text-red-300 text-7xl mb-3">
          todos app
        </h1>
        <div class="relative">
          <input
            class="new-todo text-2xl rounded-sm pl-16 py-4 pr-4 w-full"
            placeholder="What needs to be done?"
            v-model="todoInput"
            @keyup.enter="handleAddTodo($event)"
          />
          <input
            id="toggle-all"
            class="h-0 w-0"
            type="checkbox"
            :class="isCompletedAll && 'completed-all'"
          />
          <label
            class="absolute left-0"
            for="toggle-all"
            style="height: 100%; width: 60px; padding: 1rem;"
            @click="handleToggleCompletedAll(!isCompletedAll)"
          />
        </div>
      </header>
      <section>
        <ul>
          <li
            v-for="todo in filteredTodos"
            @dblclick="handleShowInput(todo.id)"
            class="todo-item h-16 bg-white border border-solid border-t-gray-300 border-l-gray-300 border-r-gray-300 flex items-center justify-between px-6"
            :class="
              updater.isShowInputUpdate && updater.todoId === todo.id
                ? 'editing'
                : ''
            "
          >
            <div class="flex items-center w-full">
              <input
                type="checkbox"
                class="toggle rounded-full border-none"
                :checked="todo.completed"
                @change="handleCompleteTodo(todo.id)"
              />
              <input
                type="text"
                ref="todoUpdate"
                class="text-xl w-full"
                @keyup.enter="handleEditTodo($event, todo.id)"
                @keyup.esc="handleBlurInputEdit()"
                v-if="updater.isShowInputUpdate && updater.todoId === todo.id"
                :value="
                  todoList.find((todo) => todo.id === updater.todoId)
                    ?.description
                "
              />
              <label v-else class="text-xl pl-4 select-none w-full text-left">
                {{ todo.description }}
              </label>
            </div>
            <button @click="handleRemoveTodo(todo.id)">❌</button>
          </li>
        </ul>
      </section>
      <footer class="flex justify-between bg-white h-12 px-4">
        <span class="flex flex-col justify-center">
          {{ todoList?.length }}
          {{ todoList?.length === 1 ? 'item' : 'items' }} left
        </span>
        <div class="flex justify-around items-center w-60">
          <button
            class="filter-todos"
            :class="filteredMode === 'all' && 'filtered'"
            @click="handleChangeFilteredMode('all')"
          >
            All
          </button>
          <button
            class="filter-todos"
            :class="filteredMode === 'active' && 'filtered'"
            @click="handleChangeFilteredMode('active')"
          >
            Active
          </button>
          <button
            class="filter-todos"
            :class="filteredMode === 'completed' && 'filtered'"
            @click="handleChangeFilteredMode('completed')"
          >
            Completed
          </button>
        </div>
      </footer>
    </section>
  </LayoutContent>
  <LayoutFooter :params="layoutFooterProps" />
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Todo } from '../types/todo'
import LayoutHeader, {
  LayoutHeaderProps
} from '../components/Layout/LayoutHeader.vue'
import LayoutContent, {
  LayoutContentProps
} from '../components/Layout/LayoutContent.vue'
import LayoutFooter, {
  LayoutFooterProps
} from '../components/Layout/LayoutFooter.vue'

type FilteredMode = 'all' | 'active' | 'completed'
type PageTodosState = {
  filteredMode: FilteredMode
  todoInput: string
  updater: {
    todoId: number
    isShowInputUpdate: boolean
  }
  isCompletedAll: boolean
  todoList: Array<Todo>
}

type PageTodosProps = {
  className?: string
}

const PageTodo = defineComponent({
  name: 'PageTodos',
  components: { LayoutFooter, LayoutHeader, LayoutContent },
  data(): PageTodosState {
    return {
      filteredMode: <FilteredMode>localStorage.getItem('filteredMode') || 'all',
      todoInput: '',
      isCompletedAll: false,
      updater: {
        todoId: -1,
        isShowInputUpdate: false
      },
      todoList: JSON.parse(localStorage.getItem('todoList')!) || [
        { id: 1234567812345, description: 'Eat cat', completed: false },
        { id: 1234567912345, description: 'Eat dog', completed: false },
        { id: 1234568012345, description: 'Eat duck', completed: false }
      ]
    }
  },
  methods: {
    handleAddTodo(ev: Event): void {
      // as unknown as HTMLInputElement
      const newTodo = (ev.target! as HTMLInputElement).value
      this.todoList = [
        ...this.todoList,
        { id: Date.now(), description: newTodo, completed: false }
      ]
      this.todoInput = ''
      localStorage.setItem('todoList', JSON.stringify(this.todoList))
    },
    handleEditTodo(ev: Event, todoId: number): void {
      const editedTodo = (ev.target! as HTMLInputElement).value
      this.todoList = this.todoList.map((todo) => {
        return {
          ...todo,
          description: todo.id === todoId ? editedTodo : todo.description
        }
      })
      this.updater = {
        isShowInputUpdate: false,
        todoId: -1
      }
      localStorage.setItem('todoList', JSON.stringify(this.todoList))
    },
    handleRemoveTodo(todoId: number): void {
      this.todoList = this.todoList.filter((todo) => todo.id !== todoId)
      localStorage.setItem('todoList', JSON.stringify(this.todoList))
    },
    handleBlurInputEdit(): void {
      this.updater = {
        isShowInputUpdate: false,
        todoId: -1
      }
      return
    },
    handleCompleteTodo(todoId: number): void {
      this.todoList = this.todoList.map((todo) => {
        return {
          ...todo,
          completed: todo.id === todoId ? !todo.completed : todo.completed
        }
      })
      localStorage.setItem('todoList', JSON.stringify(this.todoList))
    },
    handleToggleCompletedAll(isCompletedAll: boolean): void {
      this.isCompletedAll = isCompletedAll
      this.todoList = this.todoList.map((todo) => ({
        ...todo,
        completed: isCompletedAll
      }))
    },
    handleShowInput(todoId: number): void {
      this.updater = {
        todoId,
        isShowInputUpdate: true
      }
      this.$nextTick(() => {
        ;(<HTMLInputElement>this.$refs.todoUpdate).focus()
      })
    },

    handleChangeFilteredMode(filteredMode: FilteredMode): void {
      this.filteredMode = filteredMode
      localStorage.setItem('filteredMode', filteredMode)
    }
  },
  props: {
    params: {
      type: Object as PropType<PageTodosProps>,
      required: true
    }
  },
  computed: {
    layoutHeaderProps(): LayoutHeaderProps {
      return {
        className: ''
      }
    },
    layoutContentProps(): LayoutContentProps {
      return {
        className: 'content-todos flex'
      }
    },
    layoutFooterProps(): LayoutFooterProps {
      return {
        className: 'footer-todos'
      }
    },
    filteredTodos(): Array<Todo> {
      if (this.filteredMode === 'all') return this.todoList
      else if (this.filteredMode === 'active')
        return this.todoList.filter((todo) => todo.completed === false)
      return this.todoList.filter((todo) => todo.completed === true)
    }
  }
})
export default PageTodo
</script>

<style scoped>
.layout-content {
  &.content-todos {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    .todo-app {
      min-width: 230px;
      max-width: 550px;

      .new-todo,
      .edit-todo {
        line-height: 1.4;
      }

      .toggle {
        height: 40px;
        width: 40px;
        @apply rounded-full;
      }

      #toggle-all + label {
        transform: rotate(90deg);
        cursor: pointer;

        &::before {
          content: '»';
          font-size: 36px;
          color: #e6e6e6;
          padding: 1rem 0.5rem;
        }
        &:hover::before {
          color: #42b983;
        }
      }
      #toggle-all.completed-all + label::before {
        color: #42b983;
      }

      .editing {
        border: #42b983 solid 2px;
      }

      .filter-todos {
        height: fit-content;
        padding: 0 0.25rem;
        border-radius: 2px;
        @apply focus:outline-none;

        &.filtered {
          border: #42b983 1px solid;
        }
        &:hover {
          color: #42b983;
          border: #42b983 1px solid;
        }
      }
    }
  }
}

.layout-footer.footer-todos {
  background-color: #f5f5f5;
}
</style>
