@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind screens;

:root {
  --header-height: 64px;
  --footer-height: 50px;
}

* {
  box-sizing: border-box;
}

input {
  @apply outline-none px-4 py-2;
}
